<!DOCTYPE html>
<html>
<head>
    <title>Lesith Dissanayaka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Lesith, Dissanayaka, Lesith Dissanayaka, PMP, PMI-ACP, ACP, Business, BA, Business Analyst, Project, Project Manager, PM, Analyst,
    Project Management Professional, Agile, Consulting, Consultation, Consultant">
    <meta name="description" content="Lesith Dissanayaka - Portfolio">
    <meta name="author" content="Lesith Dissanayaka">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <style type="text/css">
        body { background: #23272A !important; } /* Override Default CSS */
        p, h1, h2, h3, h4, h5, h6, label, td, th { color: #99AAB5 !important; }
    </style>

    <br /><br />
    <div class="container">
        <h1>
            <strong>Lesith</strong> Dissanayaka 
            <a href="https://www.youracclaim.com/user/lesith" target="_blank">
                <span class="badge badge-secondary">PMP</span>
            </a>
        </h1>
        <h4>
            <span class="text-muted">lesith@outlook.com</span>
            <a href="https://www.linkedin.com/in/lesith-dissanayaka/" target="_blank"><span class="badge badge-primary">LinkedIn</span></a>
            <a href="https://www.twitter.com/lesithdx/" target="_blank"><span class="badge badge-info">Twitter</span></a>
            <a href="https://github.com/lesith" target="_blank"><span class="badge badge-dark">Github</span></a>
        </h4>
        <br />
        <h1 class="display-4" style="color: #7289DA !important">
            Tech-savvy, Project Management and Business Analysis Professional with 8+ years of industry experience and a never-ending 
            hunger for self-improvement.
        </h1>
    </div>
    <br />

<!-- Skills and Interests section -->
    <div class="container">
        <div class="row">
            <div  class="col">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        <h2 style="font-weight: bold">Skills</h2>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title" style="color: #7289DA !important">Project Management</h3>
                        <p class="card-text">Strategic Leadership, Life Cycle, Agile, Result-Driven, Dependable, Problem Solver</p>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title" style="color: #7289DA !important">Business Analysis</h3>
                        <p class="card-text">Analytical and Design Thinking, Attention to Detail, Clarity, Consistency</p>
                    </div>
                </div>
            </div>
            <div  class="col">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        <h2 style="font-weight: bold">Interests</h2>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title" style="color: #7289DA !important">Tech</h3>
                        <p class="card-text">Python, Django, SQL, JavaScript, Machine Learning, Linux, IoT, Git, Data Science</p>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title" style="color: #7289DA !important">Business</h3>
                        <p class="card-text">Innovation, Data, Automation, Process Optimization, Data Driven Decisions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />

<!-- Achievements -->
    <div class="container">
        <div class="card-deck">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="color: #7289DA !important">35+ Projects</h5>
                    <p class="card-text">Enterprise Projects in multiple business domains for local and international clients</p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="color: #7289DA !important">12,000+ Project Hours</h5>
                    <p class="card-text">Project Integration, Scope, Schedule, Cost, Quality, Resource, Communications, Risk, Procurement and 
                            Stakeholder Management
                    </p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="color: #7289DA !important">Agile Mindset</h5>
                    <p class="card-text">
                        Acting as an advocate for Agile Principles, while adhering to the principle of Continuous Improvement
                    </p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="color: #7289DA !important">Certified Professional</h5>
                    <p class="card-text">
                        PMP Licence #2275662
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />

<!-- Timeline -->
    <div class="container">
        <h3 style="font-weight: bold">Experiences</h3>
        <div class="card-group">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="color: #7289DA !important">Lead Business Analyst and Project Manager @Tryonics</h5>
                    <p class="card-text"><small class="text-muted">Today - Jul. 2017</small></p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="color: #7289DA !important">Freelance Consultant Project Manager</h5>
                    <p class="card-text"><small class="text-muted">Jun. 2017 - Jan. 2017</small></p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="color: #7289DA !important">Project Manager and Business Analyst @Tech One Global Bangladesh</h5>
                    <p class="card-text"><small class="text-muted">Dec. 2016 - May 2015</small></p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="color: #7289DA !important">Business Analyst @Sri Net Gate</h5>
                    <p class="card-text"><small class="text-muted">Aug. 2014 - Sep. 2008</small></p>
                </div>
            </div>
        </div>
        <br />
        <h3 style="font-weight: bold">Education</h3>
        <div class="card-group">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="color: #7289DA !important">Smartly Institute - MBA</h5>
                    <p class="card-text"><small class="text-muted">2019 - 2020</small></p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="color: #7289DA !important">LSE - BSc in Information Systems and Management</h5>
                    <p class="card-text"><small class="text-muted">2012 - 2008</small></p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="color: #7289DA !important">ST. Anthony's College - Kandy, Sri Lanka</h5>
                    <p class="card-text"><small class="text-muted">2006 - 1992</small></p>
                </div>
            </div>
        </div>
    </div>
    <br /><br />


    <footer class="container">
        <p>Copyright © 2019 <a href="https://lesith.com/">Lesith Dissanayaka </a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>