{% extends 'base.html' %}

{% block title %}The Misfit Bug | {{ object.title }}{% endblock %}

{% block content %}

    <br />
    <h1>{{ object.title }}</h1>
    <br />
    <img src="{{ object.image.url }}" class="img-fluid" alt="Responsive image">
    <br /><br />

    <blockquote class="blockquote text-right">
      <p class="lead">{{ object.body|linebreaksbr }}</p>
      <footer class="blockquote-footer">{{ object.last_updated }} by - <cite title="Source Title" style="font-weight:bolder">{{ object.author|capfirst }}</cite></footer>
    </blockquote>

{% endblock %}
