{% extends 'base.html' %}

{% block title %}The Misfit Bug | {{ object.title }}{% endblock %}

{% block content %}

    <div class="container">
        <br />
        <h1>{{ object.title }}</h1>
        <br />
        <img src="{{ object.image.url }}" class="img-fluid" alt="Responsive image">
        <br /><br />

        <div class="container">
            <blockquote class="blockquote">
              <p class="lead">{{ object.body|safe|linebreaksbr}}</p>
              <footer class="blockquote-footer">{{ object.last_updated }} by - <cite title="Source Title" style="font-weight:bolder">{{ object.author|capfirst }}</cite></footer>
            </blockquote>
        </div>
    </div>

{% endblock %}
