{% extends "base.html" %}

{% block title %}The Misfit Bug | Featured{% endblock %}

{% block content %}

    <br />
    <div style="background:#2C2F33 !important" class="jumbotron">
        <h1 style="text-align:center">The Misfit Bug</h1>
    </div>

    <div class="container">
        <div class="row">
            {% for article in object_list %}
                {% if article.featured == True %}
                    <div class="col-md-4">
                        <h2>{{ article.title }}</h2>
                        <p class="lead">{{ article.body|safe|truncatewords:50 }}</p>
                        <p class="font-italic">{{ article.last_updated }} by - {{ article.author|capfirst }}</p>
                        <p><a class="btn btn-outline-primary" href="{% url 'article_detail' pk=article.pk %}">Read More</a></p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}